
<!DOCTYPE html>
<html>
<body style="background-color:khaki;">
   <h1>Vehicle Insurance Portal</h1>
   <div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
    {% load crispy_forms_tags %}
    <h4>Customer Insurance Detail Form</h4>
    <form method="post" action="http://127.0.0.1:8000/result/">
        {%csrf_token%}
        {%if form%}

        <div class="row bg-white">
            {%for field in form%}
            <div class="col-md-6 p-2">{{field|as_crispy_field}}</div>
            {%endfor%}

        <div class="col-md-12">
        <ul class="list-inline text-right">
            <li class="list-inline-item">
                <input type="reset" value="Reset" 
                style="background-color: red; 
                        color: white" />
                <input type="submit" value="Submit" 
                style="background-color: green; 
                        color: white" />        
            </li>
        </ul>
            </div>
             </div>
        {%endif%}

    </form>
    </div>

</div>
</body>
</html>

